.article-list {
  margin-left: 220px;
  padding: 2rem; 
  box-sizing: border-box;
  background-color: #121212;
  min-height: 100vh;
}


.article {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #ddd;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.article h2 {
  margin-top: 0;
  color: #ffffff;
  font-size: 1.5rem;
}

.article p {
  color: #aaa;
  line-height: 1.6;
  font-size: 1rem;
}
